.ebookimage1 img {padding:10px 20px;background:#FFF}
@media only screen and (max-width:240px) {
table, tbody, tr, td {margin:0 auto;padding:0;width:90%;max-width:150px}
.wrapebook, .sellebook, .transnow, .transnow1, .fiche, .select-style, form {margin:0 auto;padding:0}
.post {padding:0}
}
@media only screen and (min-width:240px) and (max-width:860px) {
.ebookimage, .ebookimage1 {width:100%;margin:0 auto 10px auto;text-align:center}
.transnow, .transnow1 {width:100%;margin:0 auto;padding:0;text-align:center;clear:both}
table, tbody, tr, td {margin:0 auto;padding:0;}
}
@media only screen and (min-width:860px) {
.wrapebook .ebookimage {float: left; margin: 0 auto;width: 35%;max-width:270px;display:inline-block}
.wrapebook .ebookimage1 {float: left; margin: 0 auto;width: 40%;max-width:320px;display:inline-block}
.wrapebook .transnow {width:60%;max-width:520px;margin:0 auto;padding:0;float:left;text-align:center;display:inline-block}
.wrapebook .transnow1 {width:50%;max-width:450px;margin:0 auto;padding:0 5px;float:left;text-align:center;display:inline-block}
.ebookimage img, .ebookimage1 img {width:99%;max-width:250px;height:auto}
.fiche {max-width:500px;margin:20px 0 10px 0;padding:0 5px}
}
.wrapebook {width:100%;max-width:840px;height:auto;clear:both;margin:0 auto;padding:4px;text-align:center}
.wrapebook .ebookimage{padding:5px;text-align: center}
.wrapebook .ebookimage1 {padding:10px 5px;text-align: center}
.ebookimage img, .ebookimage1 img {-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .1); -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .1); box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);}
.sellebook {background: #F3F5F7; border: 1px solid #DDD; clear: both; color: #444444; font-family: open sans; font-size: 13px; line-height: 16px; margin: 5px auto; padding: 10px; width: 95%;max-width:860px}
.sellebook a {font-weight:bold}
.prix3 {font-size: 16px; font-weight: bold; color: white;max-width:90px;margin: 10px auto 0 auto; padding:5px 10px; text-align: center;background: #DD3300; }
.descript {clear: both; font-family: georgia; font-size: 16px; line-height:20px;margin: 0; padding: 10px; letter-spacing:0.05em;width: 100%}
.descript h5, .descript h5 a {color: #dd3300; font-size: 16px; font-weight: bold; text-align: center; text-decoration: none}
.fiche {margin:20px 0 10px 0;padding:0 5px}
.also {display: block; font-family: Open Sans, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 16px; margin: 10px auto 0; padding: 0; text-align: center}
.fiche1 {font-size: 13px; margin: 10px 10px 0 10px; text-align: left}
.formule {font-weight: bold; padding: 10px 10px 15px 5px;}
.sellebook h5, .descript h5, .recommend h5 {font-variant:small-caps;color: #dd3300; font-size: 16px; font-weight: bold; text-align: center; text-decoration: none}
.recommend {font-family: open sans, arial; font-size: 13px; font-weight: bold; line-height: 16px;}